/* .logInBox{
    background-color: black;
} */

.logInBox{
    align-self: center;
    margin-top:40px;
    width:80%;
    background-color: rgba(111, 150, 157, 0.572);
    padding:5px;
    border-radius: 5px;;
}

.logInBox label{
    color:black;
}

.registerLink {
    
}