@import url(//db.onlinewebfonts.com/c/3f4943f4e662577a8113309f864540a4?family=ITC+Benguiat);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: red;
   padding-right:20px;
   padding-left:20px;
    
}

.Title {
    font-family:'ITC Benguiat';
    text-transform: uppercase;
}

.Home, .Posts, .Login, .Register, .Logout, .CreatePosts, .Profile{
    
    color: red;
    font-size:20px;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;
}
/* .Posts{
    
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;
} */
/* .Login{
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;
} */

/* .Register {
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;
}

.Logout {
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;

} */
/* .CreatePosts {
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;
}
.Profile {
    color: red;
    width: 60px; height: 30px;
    margin-right:10px;
    padding: 5px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-decoration: none;
    font-family:'ITC Benguiat';
    text-transform: uppercase;

} */