.EditForm {
    display:flex;
    flex-direction: column;
    width: 400px;
   
    border-radius:10px;
}

.editTitle{
    margin-bottom:2px;
    display:flex;
   margin-left: 148px;
   font-family: 'ITC Benguiat';

}
.back {
    margin-bottom:10px;
    border-radius: 5px;
    font-size:14pt;
    padding-top: 5px;
    background-color: #e9e9e9;
    border:none;
}

.back:hover{
    background-color:black;
    color:red;
    cursor: pointer;
}
.box {
    margin:10px;
    border-radius: 10px;
    background-color:  rgba(111, 150, 157, 0.572);
    padding:10px;
    width:70%;
    font-size:16pt;
}   

.deleteButton {
    margin-top: 10px;
}