@import url(//db.onlinewebfonts.com/c/3f4943f4e662577a8113309f864540a4?family=ITC+Benguiat);

.SearchBar {
    margin:10px;
    display:flex;
    flex-direction:row;
    align-items: center;
    
}
.titleText {
    font-weight:bold;
    font-family: 'ITC Benguiat';
    text-transform:uppercase;
    margin-right:5px;
}
.Search {
    font-size: 10px;
}