.formBox {
    align-self: center;
    margin-top:40px;
    width:40%;
    background-color: rgba(111, 150, 157, 0.572);
    padding:5px;
    border-radius: 5px;;
}
.signUp {
    font-size:50px;
}



.registerForm label {
    font-size:20pt;
    color:black; 
}
.registerForm button {
    margin-top:10px;
    margin-bottom: 10px;;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-family: "ITC Benguiat";
  }
  
 .registerForm button:hover {
    background-color:black;
    color:red;
    
  }
  
  .loginLink {
    text-decoration: none;
    color: white;
}

.loginLink:hover {
    color:red;
    text-shadow: 0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff;
}
  
