.UserDisplay {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  width: 70%;
  align-self: center;
  margin-top: 2%;
}

.tab {
  color: #e9e9e9;
  list-style: none;
  display: inline;
  margin-right: 4px;
  font-family: "ITC Benguiat";
  font-size: 20pt;
  width: 80%;
  border: none;
  cursor: pointer;
}

.tab:focus {
  background: black;
  color: red;
  padding-right: 5px;
  padding-left: 5px;
}
